/* Colors */
:root {
	--color-primary: #131111;
  --color-primary_light: #717070;
  --color-primary_dark: #0F0D0D;
  --color-primary_press: #424141;
  --color-primary_focus: #0D0C0C;
  --color-primary_disable: #B8B8B8;

  --color-secondary: #D7362C;
  --color-secondary_light: #E78680;
  --color-secondary_dark: #982720;
  --color-secondary_hover: #AC2B23;
  --color-secondary_press: #DF5E56;
  --color-secondary_focus: #97261F;
  --color-secondary_disable: #F3C3C0;

  --color-surface: #212121;
  --color-surface_light: #7A7A7A;
  --color-surface_dark: #181818;
  --color-surface_hover: #1A1A1A;
  --color-surface_press: #4D4D4D;
  --color-surface_focus: #171717;
  --color-surface_disable: #BCBCBC;


  --box-shadow-1: 0px 5px 20px rgba(255, 255, 255, 0.3);
  --box-shadow-2: 0px 8px 20px rgba(0, 0, 0, 0.3);
  --box-shadow-3: 0px 11px 20px rgba(0, 0, 0, 0.3);
  --box-shadow-4: 0px 14px 20px rgba(0, 0, 0, 0.3);
  --box-shadow-5: 0px 17px 20px rgba(0, 0, 0, 0.3);
  --box-shadow-6: 0px 21px 20px rgba(0, 0, 0, 0.3);
  --box-shadow-7: 0px 24px 20px rgba(0, 0, 0, 0.3);
  --box-shadow-8: 0px 27px 20px rgba(0, 0, 0, 0.3); 
  --box-shadow-9: 0px 30px 20px rgba(0, 0, 0, 0.3);
  --box-shadow-10: 0px 33px 20px rgba(0, 0, 0, 0.3);


    --bckg-primary__text-color: #FFFFFF;
    --bckg-primary_light__text-color: #FFFFFF;
    --bckg-primary_dark__text-color: #FFFFFF;
    --bckg-secondary__text-color: #FFFFFF;
    --bckg-secondary_light__text-color: #000000;
    --bckg-secondary_dark__text-color: #FFFFFF;

    

    --text-h1: 96px;
    --text-h2: 66px;
    --text-h3: 54px;
    --text-h4: 42px;
    --text-h5: 32px;
    --text-h6: 28px;
    --text-body1: 28px;
    --text-body2: 22px;
    --text-button: 12px;
    --text-caption: 14px;
    --text-subtitle1: 16px;
    --text-subtitle2: 14px;
    --text-overline: 14px;
    
}

	h1 {
		color: var(--color-primary);   
}

/* typography */

.text-h4_bold {
 font-family: Arial;
 font-size: var(--text-h4);
 font-weight: bold;
 letter-spacing: 0.0025em;
}
.text-h5_bold {
 font-family: Arial;
 font-size:var(--text-h5);
 font-weight: bold;
 letter-spacing: 0.0015em;

}

/* buttons */
.btn-primary{
 border: 0px;
 width: 90px;
 height: 27px;
 background-color: var(--color-primary);
 color: var(--bckg-primary__text-color);
 font-family: Arial;
 text-align: center;
 font-size: var(--text-button);
 letter-spacing: 0.0125em;
 text-transform: uppercase;
 box-shadow: var(--box-shadow-1);
}
.btn-primary_hover{

}
.btn-primary_click{

}
.btn-primary_focus{

}
.btn-secondary{

}
.btn-secondary_hover{

}
.btn-secondary_click{

}
.btn-secondary_focus{

}
.btn_default{

}
.btn_disabled{

}



