/* Colors */
:root {
	--color-primary: #131111;
  --color-primary-light: #717070;
  --color-primary-dark: #0F0D0D;
  --color-primary-hover: #0F0E0E;
  --color-primary-press: #424141;
  --color-primary-focus: #0D0C0C;
  --color-primary-disable: #B8B8B8;

  --color-secondary: #D7362C;
  --color-secondary-light: #E78680;
  --color-secondary-dark: #982720;
  --color-secondary-hover: #AC2B23;
  --color-secondary-press: #DF5E56;
  --color-secondary-focus: #97261F;
  --color-secondary-disable: #F3C3C0;

  --color-surface: #212121;
  --color-surface-light: #7A7A7A;
  --color-surface-dark: #181818;
  --color-surface-hover: #1A1A1A;
  --color-surface-press: #4D4D4D;
  --color-surface-focus: #171717;
  --color-surface-disable: #BCBCBC;


  --box-shadow-1: 0px 5px 20px rgba(255, 255, 255, 0.3);
  --box-shadow-2: 0px 8px 20px rgba(0, 0, 0, 0.3);
  --box-shadow-3: 0px 11px 20px rgba(0, 0, 0, 0.3);
  --box-shadow-4: 0px 14px 20px rgba(0, 0, 0, 0.3);
  --box-shadow-5: 0px 17px 20px rgba(0, 0, 0, 0.3);
  --box-shadow-6: 0px 21px 20px rgba(0, 0, 0, 0.3);
  --box-shadow-7: 0px 24px 20px rgba(0, 0, 0, 0.3);
  --box-shadow-8: 0px 27px 20px rgba(0, 0, 0, 0.3); 
  --box-shadow-9: 0px 30px 20px rgba(0, 0, 0, 0.3);
  --box-shadow-10: 0px 33px 20px rgba(0, 0, 0, 0.3);


    --bckg-primary__text-color: #FFFFFF;
    --bckg-primary_light__text-color: #FFFFFF;
    --bckg-primary_dark__text-color: #FFFFFF;
    --bckg-secondary__text-color: #FFFFFF;
    --bckg-secondary_light__text-color: #000000;
    --bckg-secondary_dark__text-color: #FFFFFF;

    --text-h1: 96px;
    --text-h2: 66px;
    --text-h3: 54px;
    --text-h4: 42px;
    --text-h5: 32px;
    --text-h6: 28px;
    --text-body1: 28px;
    --text-body2: 22px;
    --text-button: 13px;
    --text-caption: 14px;
    --text-subtitle1: 16px;
    --text-subtitle2: 14px;
    --text-overline: 14px;

    --text-button-font: Arial;
    --text-button-transform: uppercase;
    --text-button-spacing: 0.0125em;
    
}
/* buttons */


.button {
  border: 0px;
  border-radius: 3px;
  width: 90px;
  height: 27px;
  box-shadow: var(--box-shadow-1);
}

.button__text {
  margin: auto;
  letter-spacing: var(--text-button-spacing);
  text-transform: var(--text-button-transform);
  text-align: center;
  font-family: var(--text-button-font);
  font-size: var(--text-button);
}
.button__text_secondary {
  color: var(--bckg-secondary__text-color);
}
.button__text_primary {
  color: var(--bckg-primary__text-color);
}
.button__text_default {
  color: var(--bckg-secondary_light__text-color);
}


.button_primary {
  background-color: var(--color-primary);   
}
.button_primary_hover {
  background-color: var(--color-primary-hover); 
}
.button_primary_click {
  background-color: var(--color-primary-press); 
}
.button_primary_focus {
  background-color: var(--color-primary-press); 
}

.button_secondary {
  background-color: var(--color-secondary);   
}
.button_secondary_hover {
  background-color: var(--color-secondary-hover); 
}
.button_secondary_click {
  background-color: var(--color-secondary-press); 
}
.button_secondary_focus {
  background-color: var(--color-secondary-press); 
}
.button_default {
  background-color: var(--color-primary-light); 
}
.button_disabled {
  background-color: var(--color-primary-disable); 
}


