/* Colors */
.color-primary {
 color: #131111;
}
.color-primary_light {
 color: #717070;
}
.color-primary_dark {
 color: #0F0D0D;
}
.color-primary_hover {
 color: #0F0D0D;
}
.color-primary_press {
 color: #424141;
}
.color-primary_focus {
 color: #0D0C0C;
}
.color-primary_disable {
 color: #B8B8B8;
}

.color-secondary {
 color: #D7362C;
}
.color-secondary_light {
 color: #E78680;
}
.color-secondary_dark {
 color: #982720;
}
.color-secondary_hover {
 color: #AC2B23;
}
.color-secondary_press {
 color: #DF5E56;
}
.color-secondary_focus {
 color: #97261F;
}
.color-secondary_disable {
 color: #F3C3C0;
}

.color-surface {
 color: #212121;
}
.color-surface_light {
 color: #7A7A7A;
}
.color-surface_dark {
 color: #181818;
}
.color-surface_hover {
 color: #1A1A1A;
}
.color-surface_press {
 color: #4D4D4D;
}
.color-surface_focus {
 color: #171717;
}
.color-surface_disable {
 color: #BCBCBC;
}

/* typography */

.text-h1 { 
 font-family: Arial;
 font-size: 96px;
 letter-spacing: -0.015em;
}
.text-h2 {
 font-family: Arial;
 font-size: 66px;
 letter-spacing: -0.005em;
}
.text-h3 {
 font-family: Arial;
 font-size: 54px;
}
.text-h4 {
 font-family: Arial;
 font-size: 42px;
 letter-spacing: 0.0025em;
}
.text-h4_bold {
 font-family: Arial;
 font-size: 42px;
 font-weight: bold;
 letter-spacing: 0.0025em;
}
.text-h5 {
 font-family: Arial;
 font-size: 32px;
}
.text-h5_bold {
 font-family: Arial;
 font-size: 32px;
 font-weight: bold;
 letter-spacing: 0.0015em;

}
.text-h6 {
 font-family: Arial;
 font-size: 28px;
}
.text-body1 {
 font-family: Arial;
 font-size: 28px;
 letter-spacing: 0.005em;
}
.text-body2 {
 font-family: Arial;
 font-size: 22px;
 letter-spacing: 0.0025em;
}
.text-button {
 font-family: Arial;
 font-size: 14px;
 letter-spacing: 0.0125em;
}
.text-caption {
 font-family: Arial;
 font-size: 14px;
 letter-spacing: 0.004em;
}
.text-subtitle1 {
 font-family: Arial;
 font-size: 16px;
 letter-spacing: 0.0015em;

}
.text-subtitle2 {
 font-family: Arial;
 font-size: 14px;
 letter-spacing: 0.001em;
}
.text-overline {
 font-family: Arial;
 font-size: 14px;
 letter-spacing: 0.015em;
}
/* typography colors */

.bckg-primary__text-color{
 color: #FFFFFF;
}
.bckg-primary_light__text-color{
 color: #FFFFFF;
}
.bckg-primary_dark__text-color{
 color: #FFFFFF;
}
.bckg-secondary__text-color{
 color: #FFFFFF;
}
.bckg-secondary_light__text-color{
 color: #000000;
}
.bckg-secondary_dark__text-color{
 color: #FFFFFF;
}

/* shadows */

.box-shadow-1{
box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.3);
}
.box-shadow-2{
box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
.box-shadow-3{
box-shadow: 0px 11px 20px rgba(0, 0, 0, 0.3);
}
.box-shadow-4{
box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.3);
}
.box-shadow-5{
box-shadow: 0px 17px 20px rgba(0, 0, 0, 0.3);
}
.box-shadow-6{
box-shadow: 0px 21px 20px rgba(0, 0, 0, 0.3);
}
.box-shadow-7{
box-shadow: 0px 24px 20px rgba(0, 0, 0, 0.3);
}
.box-shadow-8{
box-shadow: 0px 27px 20px rgba(0, 0, 0, 0.3); 
}
.box-shadow-9{
box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.3);
}
.box-shadow-10{
box-shadow: 0px 33px 20px rgba(0, 0, 0, 0.3);
}

/* buttons */
.btn-primary{
 border: 0px;
 width: 90px;
 height: 27px;
 background-color: #131111;
 color: #FFFFFF;
 font-family: Arial;
 text-align: center;
 font-size: 12px;
 letter-spacing: 0.0125em;
 text-transform: uppercase;
 box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.3);
}
.btn-primary_hover{

}
.btn-primary_click{

}
.btn-primary_focus{

}
.btn-secondary{

}
.btn-secondary_hover{

}
.btn-secondary_click{

}
.btn-secondary_focus{

}
.btn_default{

}
.btn_disabled{

}



